

.TodoCardDessign {
    text-align: center;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 5px;
    padding: 20px;
    min-width: 200px;
    /* min-height: 200px; */

    display: flex;
    justify-content: center;
    flex-direction: column;

    /* background: rgb(2,0,36); */
/* background: linear-gradient(90deg, rgba(2,0,36,1) 39%, rgba(208,49,122,1) 66%, rgba(255,145,0,1) 92%); */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.TodoCardDessign hr {
    width: 100%;
    border-bottom: 0.09em solid rgb(136, 136, 136);
}




.TodoCardDessign.is-completed{
    opacity: 0.5;

}

.TodoCardDessign.is-completed .card-tittle {
    text-decoration: line-through;
}

.TodoCardDessign .card-tittle{
    font-weight: bolder;
    text-transform: uppercase;
}

.button-actions-section {

    display: flex;
    gap: 5px;
    justify-content: center;
    width: 100%;
}

.button-actions-section .ButtonCardDessign{
    flex-grow: 1;
}