
.ButtonCardDessign{
    cursor: pointer;
    display: inline;
    padding: 5px;
    font-size: 0.8em;
    font-weight: bolder;
    border: 1px solid black;
    border-radius: 2px;
    /* background-color: rgb(159, 255, 188); */


    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%);
}


